.app-back{
  background-size: 1200px 1200px;
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  
  grid-template-areas:
     "h h h h h"
     "c c c c c";

  grid-template-rows: 100px 1fr 1fr 1fr;
}

.app-wrapper-content {
  grid-area: c;
}